/*----------------------FORMATACAO GLOBAL-----------------------------------*/
@import url('style.css');


/*-------------------------COACHMARK-----------------------------------------*/
.menu {
    position: relative;
}
.coach-mark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    text-align: center;

    
}
.coach-mark * {
     color: #000;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
}

.coach-mark button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


/*--------------------------calculadora--------------------------------------*/

.centerItens {
    display: flex;
    justify-content: center;
    margin-left: 13.9375rem;
    align-items: center;
    flex-shrink: 0;


}
.calcAlign {
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5625rem;
}

.logo {
    width: 13.875rem;
    height: 6.875rem;
}

.calc {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.internFrame {
    display: flex;
    width: 35.125rem;
    padding: 3.5625rem 1.25rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3.75rem 4.8125rem;
    flex-wrap: wrap;



    border-radius: 1.25rem;
    border-top: 0.881rem solid #03A64B;
    border-bottom: 0.881rem solid #03A64B;
    background: linear-gradient(179deg, #9AB6AE 20.78%, #FFF 111.25%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.info {
    padding: 1rem;
    width: 14.9375rem;
    height: 23.75rem;
    flex-shrink: 0; 
    border-radius: 0 0 1.5625rem 0;
    background: #D9D9D9;    
}

/*---------------------calc itens----------------*/

.x {
    height: 2.9375rem;
    flex-shrink: 0;  

    font-size: 2.5rem;
    font-weight: 700;
}



.btn {
    width: 13.875rem;
    height: 4.3125rem;
    border-radius: 1.875rem;


    border: 1px solid #000;
    background: rgba(242, 242, 242, 0.80);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.btn::placeholder {
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    
}

.txt  {
    width: 30.75244rem;
    height: 4.32981rem;
    flex-shrink: 0;
    color: #000;
    
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration-line: underline;
    
}
.txt * {
    width: 30.75244rem;
    height: 4.32981rem;
    flex-shrink: 0;
    color: #000;

    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration-line: underline;
}

.txt:hover {
    cursor: pointer;
}
.calcBtn {
    width: 22.426rem;
    height: 6.16669rem;

    border-radius: 1.25rem;
    background: #03A64B;
}

.btnTxt {
    
    left: 3.2825rem;
    top: 1.64669rem;

    font-size: 2.25rem;
    font-weight: 700;
    
}

.info {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    
}

.page2 {
    margin-top: 5rem;
    background: #03A64B;
    width: 100%;
    display: inline-flex;
    padding: 1.125rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    color: #FFF;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 3rem */

}


.lousa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0 ;
}
.lousa * {
    vertical-align: top;
}

.lousa_texto {
    border: solid 1rem #CB7246;
    background-color: #068A50;
    width: 90.375rem;
    padding: 3rem;
}
.lousa_texto * {
    color: #ffffff;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.fracao {
    display: inline-block;
    text-align: center;

}
#fracao {
 margin-top: 3rem;
}

.fracao hr {
    width: 100%;
    margin: 0;
    border: 1px solid white;
}

.xSideBySide {
    width: 100%;
    
    display: flex;
    justify-content: space-around;
}


/* -------------------------------------- teste de hover ---------------------------------*/

.calcBtn {
    transition: filter 0.4s ease;
}

  
.calcBtn:hover {
    filter: brightness(70%);
  }

