/*----------------------FORMATACAO GLOBAL-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html {
  font-size: 80%; /* 80% de 16px é 12,80px */
}

* {
    color: #fff;
}

body {
    font-family: 'Poppins' , Arial, Helvetica, sans-serif;
    background: #024059;
    
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}
body, html, * {
    padding: 0;
    margin: 0;
}
/*----------------------MENU NAVEGACAO-----------------------------------*/
.menu {
    display: flex;
    padding: 0rem 8.9375rem;
    justify-content: space-between;
    align-items: center;

    border-bottom: 5px solid #04BF8A;
    background: #024059;
}

.logo-backal {
    width: 12.1875rem;
    height: 6.0625rem;
    flex-shrink: 0;
}

.person-icon {
    width: 2.9375rem;
    height: 3.54106rem;
    flex-shrink: 0;
}

/*----------------------CONTEUDO PRINCIPAL-----------------------------------*/
.content {
    display: flex;
    padding: 0rem 7.875rem;
    justify-content: space-between;
    align-items: center;
}

.textos {
    display: flex;
    height: 39.9375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.9375rem;
}

.titulo1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.6rem */

    width: 29.125rem;
    flex-shrink: 0;
}

.conteudo1 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 3rem */
    
    width: 48.75rem;
    flex-shrink: 0;
    
}

.nextBtn {

    width: 13.9375rem;
    height: 4.3125rem;
    flex-shrink: 0;
    
    border-radius: 1.25rem;
    background: #04BF8A;
}

.conheca {
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imagemPessoa {
    width: 40%;
    height: 40%;
}

.img {
    width: 100%;
    height: 100%;
}

/*----------------------------------RODAPE -----------------------------------*/
.rodape {
    background: #04BF8A;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 1.5625rem;
    align-self: stretch;
}

.textoRodape {
    display: flex;
    width: 46.94%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.textoFormatacao {
    display: flex;
    width: 31.25rem;
    padding: 3rem 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    width: 30rem;
    color: #000;
    text-align: right;
    
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.6rem */
}


.imagemRodape {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}

.imgRodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}