/*----------------------FORMATACAO GLOBAL-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
html {
  font-size: 70%; /* 80% de 16px é 12,80px */
}

* {
    color: #fff;
}

body {
    font-family: 'Poppins' , Arial, Helvetica, sans-serif;
    background: #024059;
    
    display: flex;
    flex-direction: column;
}
body, html, * {
    padding: 0;
    margin: 0;
}
/*----------------------MENU NAVEGACAO-----------------------------------*/
.menu {
    overflow: hidden;
    display: flex;
    padding: 0rem 8.9375rem;
    justify-content: space-between;
    align-items: center;

    border-bottom: 5px solid #04BF8A;
    background: #024059;

    position: sticky;
    top: 0;
}

.logo-backal {
    width: 12.1875rem;
    height: 6.0625rem;
    flex-shrink: 0;
}

.person-icon {
    width: 1.96131rem;
    height: 2.36431rem;
    flex-shrink: 0;
}

/*----------------------CONTEUDO PRINCIPAL-----------------------------------*/
.content {
    margin-top: 2rem;
    display: flex;
    padding: 0 7.875rem;
    justify-content: space-between;
    align-items: center;
}

.content_txtAlign {
    display: flex;
    height: 39.9375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.9375rem;
    margin-top: 2rem;
}

.titulo {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.6rem */

    width: 29.125rem;
    flex-shrink: 0;
}

.conteudo {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 3rem */
    
    width: 48.75rem;
    flex-shrink: 0;
    
}

.nextBtn {
    width: 14.9375rem;
    height: 5.3125rem;
    flex-shrink: 0;
    
    border-radius: 1.25rem;
    background: #04BF8A;
}

.nextBtn:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 30px #03a64a;
  }
  
.nextBtn:hover {
    color: #03a64a;
    box-shadow: 0 0 10px #03a64a;
    text-shadow: 0 0 10px #03a64a;
  }
  

.conheca {
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imagemPessoa {
    margin-top: -5rem;
    width: 40%;
    height: 40%;
}

.img {
    width: 100%;
    height: 100%;
}

/*----------------------------------RODAPE -----------------------------------*/
.container {
    background: #04BF8A;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5625rem;
    align-self: stretch;
}

.textoRodape {
    padding: 3rem 0.625rem;
    display: flex;
    width: 46.94%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.625rem;

    color: #000;
    text-align: left;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.6rem */

}

.dropdown-content {

}

.dropdownImage {
    width: 14.25rem;
    height: 14.25rem;
    flex-shrink: 0;
}

.drpDownTexto {
    width: 23.8125rem;
    height: 13rem;
    flex-shrink: 0;

    color: #000;
    text-align: center;

    /* Titulos POP-UP */

    font-size: 2.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 3rem */
}


/* Dropdown Button */
.dropbtn {
    background: url("../img/personicon.svg") no-repeat;
    background-size: contain;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #024059;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    min-width: 160px;
    z-index: 1;
    top: 100%; /* Position it below the button */
    right: 0; /* Align it with the left edge of the button */
    display: none;
    width: 23.5rem;
    height: 22.5625rem;
    padding: 0rem 2.8125rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Show the dropdown menu when the "show" class is present */
.dropdown-content.show {
    display: inline-flex;

}



/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: inline-flex;

}